.body{
 background-image: url("..//IPAPI/images/logofinal.gif");
 background-size:cover;
flex-shrink: inherit;
}
.heading1{
margin-left:auto;
margin-right: auto;
color: white;
font-size: 100px;
text-align: center;
}
.heading2{
margin-left:auto;
margin-right: auto;color: white;
font-size: 20px;text-align: center;
font-weight: 100;font-style: italic;
margin-top: 0;
}
.login-boarder{
background-color:rgb(82, 71, 100);
width: 30%; 
border: 5px solid rgb(255, 255, 255); 
padding: 25px;
border-radius: 5px;margin:auto;
}
.signup-boarder{
background-color:rgb(82, 71, 100);
border: 5px solid rgb(255, 255, 255); 
padding: 25px;
border-radius: 5px;margin:auto;
width: 50%; 
    }
.login-table{
table-layout:fixed;
width: 100%; 
margin: auto;
}
.signup-table{
table-layout:fixed;
margin: auto;
width: 100%; 
    }
.welcome-message{
text-align: center; 
background-color: rgb(216, 180, 63);
border-radius: 5px;color: rgb(60, 60, 95);
border: 10px;
border-color: azure;
}
.form-control{
text-align: center;
}
.button-style{
width: 10%; 
margin: auto; text-align: 
center;color: rgb(2, 2, 27)
}
