    <h1 class="profileH1"  style=>IP<span style="font-size: 70px; color: rgb(173, 119, 53);">A</span>PI</h1>

    <div class="main-container" style="color:wheat">
      <div>
        Welcome {{User.username}}!
      </div>
      <div class="chat-container">
        <div class="users" id="users"></div>
        <div class="message-container">
          <div class="chat-body" id="messages"></div>
          <div class="message-box">
            <input
              type="text"
              id="message-input"
              placeholder="Enter your message..."
            />
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScipt Stream SDK -->
    <script src="https://cdn.jsdelivr.net/npm/stream-chat@1.2.2/dist/browser.full-bundle.min.js"></script>
    <!-- for making http requests -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Our custom JavaScript code -->
    <script src="./custom.js"></script>
