<section>
    <h1 class="profileH1"  style=>IP<span style="font-size: 70px; color: rgb(173, 119, 53);">A</span>PI</h1>
        <section class="Profile-Name">
            <h2 class="welcome-user">welcome, {{User.username}}</h2>
            <h3>{{User.first_name}}</h2>
            <h3 >You like {{User.favorite}}</h3>
            <h3 >Here are your local beer buds!</h3>
            <h3> 
                <ul> 
                <div>
                    <li>Bud 1</li>
                    <li>Bud 2</li>
                    <li>Bud 3</li> 
                </div>
                </ul>
            </h3>
        </section>
</section>