     <section>
         <h2 class="Profile-Name">{{user.username}}</h2>
         <h3 class="Chosen-Beer">You like this beer! {{user.favorite}}</h3>
         <h3>Here are your local beer buds!</h3>
         <h3>
             <ul> 
             <li>Bud 1</li>
             <li>Bud 2</li>
             <li>Bud 3</li> 
             </ul>
         </h3>
     </section>