<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="..//IPAPI/style.css" rel="stylesheet">
    <title>Profile</title>
</head>
<body class="body">
        <h1 class="profileH1"  style=>IP<span style="font-size: 70px; color: rgb(173, 119, 53);">A</span>PI</h1>
     <section class="Profile-Name">
         <h2 class="welcome-user">welcome,</h2>
         <h3>{{User.first_name}}</h2>
         <h3 >You like {{User.favorite}}</h3>
         <h3 >Here are your local beer buds!</h3>
         <h3 
            ><ul> 
            <div >
             <li >Bud 1</li>
             <li>Bud 2</li>
             <li>Bud 3</li> 
             </div>
             </ul>
         </h3>
     </section>
</body>
</html>