        <link rel="stylesheet" href="/public/style.css">
        <h1 class="heading1">IP<span style=" text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(245, 245, 245);font-size: 120px; color:rgb(187, 130, 55) ;">A</span>PI</h1>

        <h2 class="heading2">Find your taste buds!</h2>

    <br>
    <div class="signup-boarder">
    <table class="signup-table">
        <tr>
            <th class="welcome-message" colspan="2">
                <h2>
                Sign Up Here
                </h2>
            </th>
        </tr>
        <form class="signup-form">
        <tr>
            <td>
                <input type="text" placeholder="Username" name="username" id="username-signup" class="form-control" />
            </td>
            <td>
                <input type="text" placeholder="Name" name="name" id="firstName-signup" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" placeholder="Password" name="Password" id="password-signup" class="form-control" />
            </td>
            <td >
                    <select id="inputStateState" class="form-control">
                        <option selected>Choose Your State</option>

                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AZ">AZ</option>
                        <option value="AR">AR</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DE">DE</option>
                        <option value="DC">DC</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="IA">IA</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="ME">ME</option>
                        <option value="MD">MD</option>
                        <option value="MA">MA</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MS">MS</option>
                        <option value="MO">MO</option>
                        <option value="MT">MT</option>
                        <option value="ME">ME</option>
                        <option value="NV">NV</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NY">NY</option>
                        <option value="NC">NC</option>
                        <option value="ND">ND</option>
                        <option value="HO">HO</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WV">WV</option>
                        <option value="WI">WI</option>
                        <option value="WY">WY</option>

                    </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Age" name="Age" id="age-signup" class="form-control" />
            </td>
            <td>
                <select id="inputStateDrink" class="form-control">
                    <option selected>Choose Your Favorite Beer type</option>
                    <option value="Stout">Stout</option>
                    <option value="IPA">IPA</option>
                    <option value="Pale Ale">Pale Ale</option>
                    <option value="Lager">Lager</option>
                    <option value="Amber">Amber</option>
                    <option value="Pale">Pale</option>
            </td>
        </tr>
            <section class="button-style">
                <button type="submit" class="btn btn-primary signup-button">
                Sign Up
                </button>
            </section>
        
    </table>
    </form>
    <div class="login-link">
        <a href="./login">Already have an account? Sign in here</a>
    </div>
</div>
    <br>

<script src="/javascript/signup.js"></script>